body {
    font-family: 'Kaisei Tokumin', serif;
    background-color: #832161;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #F0EFF4;
} 

.form-container {
    display: grid;
    width: 90%;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

form {
    color: #F0EFF4;
    margin-bottom: 20px;
    max-width: 1000px;
}

.text-input input {
    width: 90%;
}

.number-input input {
    width: 90%;
}

.radio-buttons input {
    margin-right: 30px;
}

form div {
    padding-bottom: 5px;
}

label {
    font-weight: bold;
    font-size: 18px;
}

.table-container {
    overflow-y: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    color: #F0EFF4;
    border-collapse: collapse;
    width: 90%;
    max-width: 1000px;

}

table td {
    border-top: 2px solid white;
    padding: 10px 20px 10px 0;
}

table th {
    text-align: left;
    font-size: 18px;
    padding: 5px 20px 5px  0;
}

button {
    background-color: #000000;
    color: #F0EFF4;
    border-radius: 4px;
    border: none;
    transition-duration: 0.4s;
    padding: 5px 20px 5px 20px;
    width: 100px;
}

button:hover {
    background-color:#F0EFF4;
    color: black;
}