body {
    font-family: 'Kaisei Tokumin', serif;
    background-color: #832161;
}

h1 {
    text-align: center;
    color: #F0EFF4;
} 

form {
    color: #F0EFF4;
}

table {
    color: #F0EFF4;
    width: 100%;
    border-collapse: collapse;
}

table td {
    border-top: 2px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
}

table button {
    padding: 5px 20px 5px 20px;
}

button {
    background-color: #000000;
    color: #F0EFF4;
    border-radius: 4px;
    border: none;
    transition-duration: 0.4s;
}

button:hover {
    background-color:#F0EFF4;
    color: black;
}